/.vscode
history_results/big_results/history_anneal_0.0
history_results/big_results/history_anneal_0.1
history_results/big_results/history_anneal_1.0
history_results/big_results/history_anneal.png
history_results/big_results/other_data.csv
